.top{
    background-color: #E4F9F5;
    text-align: center;
    padding-top: 50px;
    width: 100%;
   
}
body{
   margin-top:0px;
   margin-left: 0px;
   margin-right:0px;
   margin-bottom: 0px;
   position: relative;
}
.bottom-cloud{
    position: absolute;

}
.top-cloud{
    position: relative;
    left:175px;

}
.pro{
    font-weight: bold;
    text-decoration: underline;
}
.name{
    margin:50px;
    font-family: 'Sacramento',cursive;
    font-size: 100px;
    color: #ee6f57; 
    font-weight: bold; 
   
}
.details{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;

}
.hobbies{
    text-align: center;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free{
    text-align: center;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    height: 100px;
    margin-bottom: 0px;
}
.dp{
    padding-right: 50px;
}
.details-info{
    padding: 20px;
    background-color: #fcdada;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    
}
.you{
padding-right: 50px;
background-color: #efbbcf;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
padding-left: 30px;
border-radius: 30px;
height: 250px;
color: white;
font-family: 'Poppins', sans-serif;
}
.logo{
padding-left: 30px;
}


.bio{
    font-size: 20px;
}
.greet{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.youtube{
    margin-bottom: 20px;
    font-family: 'Sansita Swashed', cursive;
}
.contact-info{
    margin-left: 50px;
    width:250px;
    background-color:aqua;
    border-radius: 30px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  
}
.help{
    font-size: 50px;
}
#contact{
    background-color: #d7385e;
    height: auto;
    color: white;
    border-radius: 20px;
    width: 75%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}
a{
    color: white;
    text-decoration:underline;
}
.hack{
    color: #d7385e;
}